<div class="w-full h-full p-6 bg-white rounded-2xl border border-neutral-200">
  <div class="flex items-center justify-between">
    <div>
      <h1 class="text-3xl font-bold mb-4">Medical Coverage Codes</h1>
      <p class="text-muted-foreground">Manage coverage codes used by medical plans.</p>
    </div>
    <app-add-coverage-code-dialog (saved)="onSaved()"></app-add-coverage-code-dialog>
  </div>
  <div class="overflow-hidden rounded-md border mt-5">
    <table z-table>
      <thead class="bg-muted">
        <tr>
          <th>Code</th>
          <th>Description</th>
          <th>Active</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        @if (isLoading()){
        <tr>
          <td>
            <div class="bg-neutral-200 rounded-md animate-pulse h-5"></div>
          </td>
          <td>
            <div class="bg-neutral-200 rounded-md animate-pulse h-5"></div>
          </td>
          <td>
            <div class="bg-neutral-200 rounded-md animate-pulse h-5"></div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="bg-neutral-200 rounded-md animate-pulse h-5"></div>
          </td>
          <td>
            <div class="bg-neutral-200 rounded-md animate-pulse h-5"></div>
          </td>
          <td>
            <div class="bg-neutral-200 rounded-md animate-pulse h-5"></div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="bg-neutral-200 rounded-md animate-pulse h-5"></div>
          </td>
          <td>
            <div class="bg-neutral-200 rounded-md animate-pulse h-5"></div>
          </td>
          <td>
            <div class="bg-neutral-200 rounded-md animate-pulse h-5"></div>
          </td>
        </tr>
        } @else { @for (coverageCode of coverageCodes(); track $index) {
        <tr class="cursor-pointer">
          <td class="font-medium">{{ coverageCode.code }}</td>
          <td>{{ coverageCode.description }}</td>
          <td style="padding-left: 24px" class="">
            @if(coverageCode.active) {
            <div class="size-2 bg-green-500 rounded-full"></div>
            } @else {
            <div class="size-2 bg-red-500 rounded-full"></div>
            }
          </td>
          <td style="padding-left: 13px" class="flex items-center gap-2">
            @if(isDeleting(coverageCode.id)) {
            <lucide-angular [img]="loader" class="size-4 animate-spin" />
            } @else {
            <lucide-angular
              [img]="trash"
              class="size-4 cursor-pointer"
              (click)="deleteCoverageCode(coverageCode.id)"
            />
            <app-edit-coverage-code-dialog
              [coverageCode]="coverageCode"
              (saved)="onSaved()"
            ></app-edit-coverage-code-dialog>
            }
          </td>
        </tr>
        } } @if(coverageCodes().length === 0 && !isLoading()){
        <tr>
          <td colspan="4" class="text-center text-muted-foreground">No coverage codes found</td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>
